.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        display: flex;
        justify-content: center;
    }
    h2::before,
    h2::after { 
    display: none;
    }
    p {
        display: flex;
        justify-content: center;
    }
    .addButton {
        width: 100%;
    }
}