.portfolio {
    text-align: center;
    margin: 40px 0 40px;
    @media (max-width: 768px){
        margin: 10px 0 40px;
      }
    h2 {
        margin-bottom: 60px;
        @media (max-width: 768px){
            margin: 10px 0 30px;
          }
    }
    .cardContainer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .cards {
            width: 350px;
            padding: 20px;
            border: 1px solid $borderColor;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(70, 96, 243, 0.4);
            text-align: center;
            margin: 10px;
            position: relative;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden;
            .desc {
                font-family: "Marcellus", serif;
            }
            .technologies {
                display: flex;
                flex-direction: column;
                align-items: center; 
                width: 100%; 
                p {
                    margin-bottom: 15px;
                    text-decoration: underline;
                }
            
                .technology-icon {
                    display: flex;
                    flex-wrap: wrap; 
                    gap: 10px; 
                    justify-content: center; 
                    width: 100%; 
                }
                .technology-icon img {
                    width: 45px;  
                    object-fit: cover; 
                }
            }
            .card-back {
                display: none;
                position: relative;
                z-index: 2;
                margin: -10px;
                font-family: "Marcellus", serif;
                    .githubLink {
                        margin-top: 25px;
                        animation: bounce 1.5s infinite;
                        p {
                            margin-bottom: 5px;
                            font-family: "Marcellus", serif;
                        }
                        
                        a {
                            text-decoration: none; 
                            color: $textColor;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                
            

            &.active {
                transform: rotateY(180deg); 
                box-shadow: 0 12px 24px rgba(20, 41, 228, 0.9);
                transition: transform 0.5s ease, box-shadow 0.5s ease;
                .card-back {
                    transform: rotateY(180deg);
                    display: block;
                }

                .card-content {
                    display: none;
                }
                &:hover {
                    transform: rotateY(180deg); 
                    box-shadow: 0 12px 24px rgba(20, 41, 228, 0.9);
                }

                &:hover:before {
                    opacity: 0; 
                }

                .button {
                    opacity: 0; 
                    visibility: hidden;
                }
            }

            .project-image {
                width: 100%;
                height: 200px;
                object-fit: contain;
                border-radius: 8px;
                z-index: 1;
            }

            .button {
                font-family: inherit;
                display: inline-block;
                background-color: $backgroundColor;
                text-decoration: none;
                color: $textColor;
                font-size: 1.2rem;
                padding: 10px 20px;
                border: 1px solid $backgroundColor;
                border-radius: 5px;
                cursor: pointer;
                position: absolute;
                bottom: 50%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease, visibility 0.3s ease;                
            }            
        }
    }
}
