//***********Variables**************
$backgroundColor: #0D141F;
$backgroundColor2: #111A27;
$backgroundColor3: #112840;
$textColor: #75C7F0;
$borderColor: #197CAE;

//***********Keyframes**************
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-5px); }
  }

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%); /* Commence hors de l'écran à gauche */
      opacity: 0; /* Commence transparent */
    }
    to {
      transform: translateX(0); /* Finie à sa position d'origine */
      opacity: 1; /* Deviens opaque */
    }
  }

  @keyframes waveAnimation {
    0% {
      transform: rotate(-0deg);
    }
    50% {
      transform: rotate(50deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

@keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }
  @keyframes drop {
  0% {
    top: -50%
  }
  100% {
    top: 110%
  }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes pulseBorder {
    0%, 100% {
      border-width: 2px;
      border-color: $backgroundColor; /* Couleur de départ */
    }
    50% {
      border-width: 2px; /* Épaisseur augmentée au milieu du cycle */
      border-color: lighten($borderColor, 20%); /* Couleur plus claire au milieu */
    }
  }

   