.skills {
    
    text-align: center;
    padding: 25px;
    h2{
        margin: 40px 0 40px;
        @media (max-width: 768px){
            margin: 15px 0 15px;
        }
    }
    h3 {
        text-decoration: underline;
    }
    .logos {
        display: flex;
        justify-content: space-around;
        margin: 50px;
        flex-wrap: wrap;
        gap: 20px;
        img {
            border-radius: 10px;
            width: 90px;
            transition: transform 0.1s ease, box-shadow 0.3s ease;
            &:hover {
                transform: translateY(-15px); // Légère élévation vers le haut
                box-shadow: 0 8px 16px rgba(20, 41, 228, 0.9); // Ombre portée
            }
        }
    }
}